---
layout: default
---

<div class="home">

  <h2 class="page-heading">Writing</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.for == 'blog' %}
        <li>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" data-name="{{ post.gaid }}" data-category="index">{{ post.title }}</a> <span class="post-meta"> - {{ post.date | date: "%b %-d, %Y" }}</span>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}" data-name="rssLink" data-category="index">via RSS</a></p>

</div>
