<header class="site-header">

    <nav class="site-nav">
      <a class="page-link" href="/" data-name="writingNav" data-category="header">/writing</a>
      <a class="page-link" href="/about" data-name="aboutNav" data-category="header">/about</a>
      <a class="page-link" href="/projects" data-name="projectsNav" data-category="header">/projects</a>
      <a class="page-link" href="/books" data-name="booksNav" data-category="header">/books</a>
      <a class="page-link" href="/now" data-name="nowNav" data-category="header">/now</a>
      <a class="page-link" href="/ideas" data-name="ideasNav" data-category="header">/ideas</a>
    </nav>

</header>
