<header class="site-header">

  <div class="brand">
    <a href="/" class="brand-text">
      <span class="brand-text--strong">Benny</span>Hallett
    </a>
  </div>

  <nav class="site-nav">
    <a class="page-link" href="/" data-name="writingNav" data-category="header"><i class="site-nav__icon fa fa-pencil"></i><span class="nav-text">writing</span></a>
    <a class="page-link" href="/about" data-name="aboutNav" data-category="header"><i class="site-nav__icon fa fa-user"></i><span class="nav-text">about</span></a>
    <a class="page-link" href="/projects" data-name="projectsNav" data-category="header"><i class="site-nav__icon fa fa-terminal"></i><span class="nav-text">projects</span></a>
    <a class="page-link" href="/books" data-name="booksNav" data-category="header"><i class="site-nav__icon fa fa-book"></i><span class="nav-text">books</span></a>
    <a class="page-link" href="/now" data-name="nowNav" data-category="header"><i class="site-nav__icon fa fa-clock-o"></i><span class="nav-text">now</span></a>
      <a class="page-link" href="/ideas" data-name="ideasNav" data-category="header"><i class="site-nav__icon fa fa-lightbulb-o"></i><span class="nav-text">ideas</span></a>
  </nav>

</header>
