.book-item {
    border-bottom: 1px dashed $light-highlight;
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 10px;

    .post-meta {
        display: block;
        font-size: $font-size-small;
    }

}

.book-image {
    max-height: 120px;
    max-width: 85px;
    float: left;
    margin-right: 10px;
}

.book .book-header {
    margin-bottom: 65px;
}

.book .book-title {
    margin-bottom: 0;
}

.book-author {
    margin: 0;
}

.book-content {
    margin-top: 35px;
}