.post-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .post-list__item {
        margin: 0 0 12px 0;
        border-bottom: 1px dashed $light-highlight;

        .post-meta {
            display: inline-block;
            float: right;
            font-size: $font-size-small;
        }
    }
}


@media (max-width: 600px) {
    .post-list {
        .post-list__item {
            .post-meta {
                float: none;
                display: block;
                margin-bottom: 5px;
            }
        }
    }
}