.post-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .post-list__item {
        margin: 0 0 12px 0;
        border-bottom: 1px dashed $light-highlight;

        .post-meta {
            display: inline-block;
            float: right;
        }
    }
}