.post-list {
  list-style: none;
}

.post-list li {
  margin-bottom: 3px;
}

.post-list__header {
  margin: 0;
}

.post-link {
  font-size: 0.9em;
  text-decoration: none;
}

.post-meta {
  font-size: 0.8em;
  color: #6a5a5a;
}
