$width: 45em;

// Fonts

$font-stack: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
$line-height-default: 1.5em;
$font-size-small: 14px;
$font-size-default: 16px;
$font-weight-default: 100;
$font-size-thick: 28px;
$font-weight-thick: 700;
$font-size-medium: 22px;
$font-weight-medium: 700;
$font-size-thin: 20px;
$font-weight-thin: 400;
$font-size-code: 14px;
$font-spacing-code: 14px;

// Colors

$text-color-default: #333;
$background-color-default: #fff;
$background-color-code: #eee;
$transparent-black: rgba(0, 0, 0, 0.96);
$white: #fff;
$highlight: #339c1c;
$dark-highlight: #1e5811;
$light-highlight: #75bb66;

$padding-code: 2px 4px;
